<%- include('partials/header') %>
<div class="form-container">
    <h2>Members Login</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" placeholder="Email ID" />
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
            Not Registered? <a href="/registermem" class="btn btn-link">Register</a>
            <br>
            If you are NOT a member <a href="/login" class="btn btn-link">Login here</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>